/***************************************************************/
/* GENERAL EDITS BELOW THIS LINE 
***************************************************************/

/***************************************/
/* GENERAL THEME SETTINGS
****************************************/

blockquote
{
	border:none !important;
}

blockquote, q 
{ 
	quotes: none; 
}
 
blockquote:before, blockquote:after, q:before, q:after 
{ 
	content: ''; content: none; 
}

strong, b 
{ 
	font-weight: bold; 
}

em, i 
{ 
	font-style: italic; 
}

body, h1, h2, h3, h4, h5, p, a
{
font-family:'Helvetica', Arial, sans-serif !important;
}

.format-standard h2{
	color:#666666 !important;
	line-height:normal;
}

.tooltipster-content h4
{
color:#666666 !important;
}

/***************************************/
/* REUSABLE THEME ELEMENTS
****************************************/
.onair
{
display:block;
position:absolute;
max-width:300px;
right:0px;
top:7%;
}


.push-top
{
	margin-top:2%;	
}

.align-center
{
text-align:center;	
}

.align-right
{
	text-align:right;
}

.paddingfix
{
	padding: 0px;
}

.push-bottom
{
	margin-bottom:40px;
}

.padding
{
	padding: 15px 15px 15px 15px;
}

.spacer
{
	margin-top:5px;
}

.hide 
{
	display: none;
}

.paddingfix-right
{
	padding-right: 0px !important;
}

.lg-right
{
	text-align:right;
}

.lg-center
{
	text-align:center;
}

.divider
{
	background-color:#f0f0f0;
	height: 2px;
}

.lg-fixedheight
{
	height: 140px; 
	margin: 0;
}

.lg-fixedheight h3, h2, h4
{
	color:#ffffff !important;	
}

.nopadding
{
	padding:0px !important;	
}

.blockhead
{
	height:100%;
	width:100%;
	display:block !important;
}

.blockhead a:hover
{
	text-decoration:none !important;
}

.greydiv
{
	background: #171717; /* Old browsers */
	background: -moz-linear-gradient(top,  #171717 0%, #3a3a3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#171717), color-stop(100%,#3a3a3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #171717 0%,#3a3a3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #171717 0%,#3a3a3a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #171717 0%,#3a3a3a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #171717 0%,#3a3a3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#3a3a3a',GradientType=0 ); /* IE6-9 */
	border-top:1px solid #666666;
	color:#FFFFFF !important;
}

.greydiv img
{
	border-color:#353535 !important;	
}

.greydiv a
{
	color:#ffffff !important;
}

.greydiv .smart-box-head .light-title
{
	color:#ffffff !important;
}

.greydiv .smart-box-head
{
margin:10px 0px 20px;	
}

.hidden980
{
display:none !important;
}

h3.author-headline
{
line-height: 1.5em;
font-size: 2em;
margin: 0px;
}

.dropcap
{
padding:0px 15px 0px 0px;	
}

.vc_responsive .wpb_row .vc_span3 {
float: left;
width: 25%;
padding: 15px;
}




.smallicon .item-head{
background-color: #e0e0e0;
min-height:50px !important;
max-height:100% !important;
height:auto !important;
padding:4% !important;
border-radius: 0px 0px 20px 0px;
}

.smallicon .item-thumbnail
{
background-color:#e0e0e0;	
}


.smallicon .item-head a{
color:#666666 !important;
}


.greydiv .smallicon .item-head{
background-color: #444;
min-height:50px !important;
max-height:100% !important;
height:auto !important;
padding:4% !important;
border-radius: 0px 0px 20px 0px;
}

.greydiv .smallicon .item-thumbnail
{ 
background-color:#444;	
}


.greydiv .smallicon .item-head a{
color:#ffffff !important;
}


/*Showpage Leaderboard Space*/

.leaderboard { 
margin: 40px 0px;
}

.form #ninja_forms_field_8_div_wrap
{
width:75% !important;	
float:left !important;
margin-right:3%;
}

.form #ninja_forms_field_9_div_wrap
{
width:20% !important;	
float:left !important;
}

.leaderboard div{ 
margin: 0 auto !important;
}

.video-item
{
margin-bottom:20px !important;	
}


#disqus_thread
{
	background: #171717; /* Old browsers */
	background: -moz-linear-gradient(top,  #171717 0%, #3a3a3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#171717), color-stop(100%,#3a3a3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #171717 0%,#3a3a3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #171717 0%,#3a3a3a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #171717 0%,#3a3a3a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #171717 0%,#3a3a3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#3a3a3a',GradientType=0 ); /* IE6-9 */
	border-top:1px solid #666666;
	color:#FFFFFF !important;
padding:2%;
}

/***************************************/
/*  THIRD PARTY ELEMENT CHANGES
****************************************/

/* READ MORE ACCORDION
----------------------*/

.bigtext {
  display: block;
  overflow: hidden;
  color: #787878; 
  margin: 0px !important; 
  padding: 0px !important; 
}

.expand, .contract {
  cursor: pointer;
  font-weight: bold;
  color: #555;
}

.expand:hover, .contract:hover {
	color: #121212;
}

.alm-reveal
{
	height:auto !important;	
	display:table !important; 	
	width:100% !important;
}


.expand, .contract {
  cursor: pointer;
  font-weight: bold;
  font-size:1em;
  margin-top:2px;
  color: #555;
} 

a.learnmore
{
	font-size:0.8em;
}

a.learnmore:hover
{
	text-decoration:underline;
}


/* LOAD MORE BUTTON
------------------------*/
button.alm-load-more-btn
{
	margin:0 auto !important;
	display: block;
	font-size: 1.4em;
	font-weight: 300;
	margin-top: 20px !important;
}


/* MOBILE NAVIGATION (shiftnav)
--------------------*/
#shiftnav-toggle-main.shiftnav-toggle-main-align-right {
	text-align: right;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4) !important;
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4) !important;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4) !important;
	-o-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4) !important;	
}

/* MAGENTO PRODUCTS
---------------------------*/
ul.mwi_product_widget
{
	padding:0px;	
}



/* MAIN NAVIGATION (ubermenu)
----------------------------*/

.ubermenu
{
	background-color:#ffffff;
	padding: 4px 0px;
}

.ubermenu-item-layout-image_above
{
	padding:15px 10px !important;		
}

.ubermenu-nav
{
	padding:0px 15px !important;	
}

.ubermenu .ubermenu-search .ubermenu-searchform 
{
	background: #cccccc !important;
}

.ubermenu-skin-clean-white 
{
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.09) !important;
}

.ubermenu-skin-clean-white.ubermenu-horizontal .ubermenu-item-level-0 > .ubermenu-submenu-drop 
{
	border-top: 1px solid #f9f9f9;
	margin:0px !important;
}

.ubermenu-item:hover
{
cursor:pointer;	
}


/***************************************/
/*  THEME ELEMENT CHANGES
****************************************/


/* ORIGINAL THEME OVERRIDES
---------------------------*/
.vc_responsive .wpb_row .vc_span12 {
	float: left;
	width: 100%;
}

.whitebkg
{
	padding:2%;
	font-size:1.2em;
	color: #ffffff !important; 
	border-bottom:6px solid #f0f0f0;
}

.smart-control
{
	margin-bottom:5px;
}

.blockpeice
{
	padding-right: 5px;
	padding-left: 5px;
	float: none;
	clear: both;
	vertical-align: top;
	margin-bottom: 10px;
	display: inline-block !important;
	display: -moz-grid !important;
}


.smallicon .video-item .item-thumbnail .fa-play:before {
	display: table-cell;
	width: 50px !important;
	height: 50px !important;
	margin: 0 auto;
	border-radius: 50%;
	background: transparent;
	text-align: center;
	font: 23px/40px 'FontAwesome';
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	text-decoration:none;
	box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.6);
	color: #ff5500;
	background: rgba(0,0,0,0.8);
	vertical-align: middle;
	-webkit-transform: scale(0.6);transform: scale(0.6);opacity: 1;	
	padding-left: 10%;
}

.fa-search
{
	display:none !important;	
}

.smart-box-head 
{
	margin-bottom:17px;
}

.smart-box-head h2
{
	padding:0px;
}

.flex-direction-nav a
{
	top:-200px !important;
}

.video-with
{
	float:right;	
}

#slider .video_slider .video-with {
	padding: 0px 1% 0px 1% !important;
}

h1.title-name
{
	color:#ff5500 !important;	
	margin:0px;
	padding:0px 0px 2% 0px;
	font-size:5em;
	line-height:0.7em;
}

h2.authorname a
{
	color:#ffffff;	
	text-decoration:none !important;
}

h2.authorname a:hover
{
	color:#ff5500;
}

.single-post .blog-heading.heading-light 
{
	background-color:rgba(0,0,0,0.5) !important;
	position:absolute !important;
	color: #000000 !important;
	display:table !important;
	width:100%;
}

.single-post .blog-heading heading-light
{
	background-color:#ff5500;
	color:#ffffff !important; 
}

.single-post .blog-heading heading-light h1
{
	color:#ffffff !important;
}

.blog-item 
{
	background: #ffffff; 
	padding: 23px 15px; 
	border:0px;
}

.blog-item:nth-child(even) 
{
	background: #f0f0f0; 
	color:#999999;
}

.blog-item:nth-child(odd) h3 a 
{ 
	color:#ccccccc;
}



/* NAVIGATION
----------------------*/

.level0 a:hover 
{
	background:none !important;
	color:#ff5500 !important; 
}

.level0.hover a
{
	background:none !important;
	color:#ff5500 !important; 
}

.level0.hover .level1 a
{
	color:#ffffff !important;
}

.mlogo
{
	margin-right:5%;
}

.panel 
{
border:none !important;
}



/* SHOW LISTING PAGES
----------------------*/

.social-block
{
	text-align:right !important;		
}

.onair
{
display:block !important;
max-width:300px;
position:absolute;
right:0px;
top:7%;
}

.show-bkg
{
	padding: 1% 1% 1% 1% !important;
}

.show-bkg p 
{
	color:#ffffff !important;
	padding: 0px !important;	
	margin: 0px;
} 

.show-bkg h2
{
	margin: 0px !important;
	font-size:1.5em;
	line-height: normal;
	color:#ffffff !important;
}
	
p.subtitle
{
	 font-size:0.9em;	
	 line-height: 16px;
}

.grey-spacer
{
	min-height:5px;
	background-color:#f0f0f0;
}

.authorimage img
{
	max-height:100px;
	min-height:100px;
	width:auto;
}

.mastheadimage .video-item {
	margin-bottom: 0px !important;
}

.mastheadimage .video-item .item-thumbnail img  
{
	border:none !important;
}

.mastheadimage .fa-play
{
	opacity:0;
	transition:ease-in-out 0.2s;
	-webkit-transition:ease-in-out 0.2s;
	-o-transition:ease-in-out 0.2s;
}

.mastheadimage:hover .fa-play
{
	opacity:1;
	margin:0 auto !important;
	vertical-align:middle !important;
	text-align:center !important;
	display:table-cell;
	width:100%;
	height:100%;
	background-color: rgba(255,255,255,0.3) !important;
	background-image:url('/wp-content/themes/truemag/images/play-button.png') !important;
	background-repeat:no-repeat !important;
	background-position:center center !important;
	background-size:10% !important;
}

.mastheadimage:hover .fa-play .overlay-float
{
	width:100%;
	height:100%;
	position:absolute;
}

.mastheadimage .fa-play:before
{
	margin:0 auto;
	display:none !important;
}




/* VIDEO ROUNDED CORNER EDIT 
--------------------------------*/

.video .item-thumbnail img
{
	max-width:100%;
	width:100%;
	border: 1px solid #e0e0e0;
	border-radius: 0px 0px 30px 0px;
}

.smallicon.video .item-thumbnail img
{
	border-radius: 0px 0px 20px 0px !important;
}

.smallicon.video .item-thumbnail img
{
	border-radius: 0px 0px 20px 0px !important;
}




/* VIDEO PLAYER EDITS
--------------------------------*/

#player 
{
	background: #171717; /* Old browsers */
	background: -moz-linear-gradient(top,  #171717 0%, #3a3a3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#171717), color-stop(100%,#3a3a3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #171717 0%,#3a3a3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #171717 0%,#3a3a3a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #171717 0%,#3a3a3a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #171717 0%,#3a3a3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#3a3a3a',GradientType=0 ); /* IE6-9 */
}

.video-player iframe
{
	box-shadow:0px 0px 20px 3px rgba(0,0,0,0.5);	
}

#player-embed object
{
	left:0px !important;	
}

.video-item img
{
	 border:1px solid #cccccc;
}


/*************************************/
/* HOMPAGE EDITS
***************************************/

/* COLORED BARS
-----------------*/

.ghost-container
{
	width: 100%;
	margin:0 auto;
	margin: 0px 3.5%;
	display: table !important;
}

.adbox
{
	background-position:center center;
	background-size:100%;
}


/* SLIDER SLIDES
-----------------*/
.caption
{
	position: absolute;
	left: 0px;
	margin-top: -100px;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff !important;
	min-height: 100px;
}

.caption-top
{
	position: absolute;
	left: 0px;
	margin-top: -100px;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff !important;
	min-height: 100px;
}

.caption-left
{
	position: absolute;
	left: 0px;
	top: 0px;
	width:30%;
	height:100% !important;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff !important;
	min-height: 100px;
}


.caption-right
{
	position: absolute;
	right: 0px;
	top: 0px;
	width:30%;
	margin-top: 0px !important;
	height:100% !important;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff !important;
	min-height: 100px;
}




/***************************************************************/
/* MOBILE EDITS BELOW THIS LINE 
***************************************************************/


/*************************************/
/* SIZES 970PX AND BELOW
**************************************/
@media only screen 
and (max-width : 970px) {

	.hidden980
	{
		display:block !important;
		height:58px !important;
	}
	
	.single-post .blog-heading.heading-light {
		background-color:#333333 !important;
		position:relative !important;
		color: #000000 !important;
		margin-top:90px !important;
	}
	
}
/*************************************/
/* SIZES 970PX AND BELOW 
**************************************/

/**************************************************************************/

/*************************************/
/* SIZES 991PX AND BELOW 
**************************************/
@media only screen 
and (max-width : 991px) {

	.md-floatright
	{
		float:right !important;
	}

	.md-floatleft
	{
		float:left !important;
	}

	.md-center
	{
		margin:0 auto !important
	}

	.md-alignright
	{
		text-align:right !important;
	}

	.md-alignleft
	{
		text-align:left !important;
	}

	.md-aligncenter
	{
		text-align:center !important;
	}

	.md-paddingfix
	{
		padding-left:0px !important;
	}
	
	.md-pushtop
	{
		margin-top:20px !important;
	}

	.padding
	{
		padding: 2%;
	}
		
	/* UNIQUE EDITS 
	**********************/	
	.authorimage img
	{
	max-height:100%;
	}	
	
	
}
/*************************************/
/* SIZES 991PX AND BELOW 
**************************************/

/**************************************************************************/

/*************************************/
/* SIZES 767PX AND BELOW 
**************************************/
@media only screen 
and (max-width : 767px) {

	.padding
	{
		padding: 4%;
	}

	.video-item
	{
		padding-bottom: 14px;
	}
	
		.mastheadimage .video-item
	{
		padding-bottom: 0px;
	}

	.sm-floatright
	{
		float:right !important;
	}

	.sm-floatleft
	{
		float:left !important;
	}

	.sm-center
	{
		margin:0 auto !important
	}

	.sm-alignright
	{
		text-align:right !important;
	}

	.sm-alignleft
	{
		text-align:left !important;
	}

	.sm-aligncenter
	{
		text-align:center !important;
	}
		
	.sm-pushtop
	{
		margin-top:20px !important;
	}

	.sm-pushbottom
	{
		margin-bottom:20px !important;
	}
	
	.sm-pushleft
	{
		margin-left:20px !important;
	}
	
	.sm-pushright
	{
		margin-right:20px !important;
	}		

	.sm-padding
	{
		padding-left:15px !important;
	}

	.sm-paddingfixleft
	{
		padding-left:0px !important;
	}


	.sm-paddingfixright
	{
		padding-left:0px !important;
	}

	.sm-erasepadding
	{
		padding:0px !important;
	}
	
	.home .col-sm-6
	{
		display:block !important;
		width:100% !important;
		padding:0px 15px;
	}
	
	.carousel-caption {
		position:relative !important;
		right: 15%;
		bottom: 20px;
		left: 15%;
		z-index: 10;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #fff;
		text-align: center;
		text-shadow:none !important;
	}

	.caption
	{
		position: relative;
		left: 0px;
		margin-top: 0px;
		background-color: rgba(0,0,0,0.5);
		color: #ffffff !important;
		min-height: 100px;
	}

	.caption-left
	{
		position: relative !important;
		left: 0px;
		margin-top: 0px;
		background-color: rgba(0,0,0,0.5);
		color: #ffffff !important;
		min-height: 100px;
		width:100%;
	}

	.caption-right
	{
		position: relative !important;
		left: 0px !important;
		margin-top: 0px !important;
		background-color: rgba(0,0,0,0.5);
		color: #ffffff !important;
		width:100% !important;
		min-height: 100px !important;
	}
	
	.caption-top
	{
		position: relative !important;
		left: 0px !important;
		margin-top: 0px !important;
		background-color: rgba(0,0,0,0.5);
		color: #ffffff !important;
		min-height: 100px !important;
	}
}
/*************************************/
/* SIZES 767PX AND BELOW 
**************************************/

/**************************************************************************/

/*************************************/
/* SIZES 610PX AND BELOW 
**************************************/
@media only screen 
and (max-width : 601px) {
	.hidden980
	{
		display:block !important;
		height:44px !important;
	}
		
	.single-post .blog-heading.heading-light {
		background-color:#333333!important;
		position:relative !important;
		color: #000000 !important;
		margin-top:20px !important;
	}
}
/*************************************/
/* SIZES 610PX AND BELOW 
**************************************/

/**************************************************************************/

/*************************************/
/* SIZES 480PX AND BELOW 
**************************************/
@media only screen 
and (max-width : 480px) {
	.xs-floatright
	{
		float:right !important;
	}

	.xs-floatleft
	{
		float:left !important;
	}

	.xs-center
	{
		margin:0 auto !important
	}

	.xs-alignright
	{
		text-align:right !important;
	}

	.xs-alignleft
	{
		text-align:left !important;
	}

	.xs-aligncenter
	{
		text-align:center !important;
	}
	
	h2.authorname
    {
		line-height:normal;
	}
}
/*************************************/
/* SIZES 480PX AND BELOW 
**************************************/



/***************************************************************/
/* MOBILE EDITS ABOVE THIS LINE 
***************************************************************/