@charset "utf-8";
/*base html*/

/*top nav*/
.nav>li>a {
	padding-left:20px;
	padding-right:20px;
}
.main-menu .nav > li > a {
	font-size: 13px;
	color:#fff;
}
.main-menu li.current-menu-item > a, .main-menu .nav > li > a:hover, .topnav-light .main-menu li.current-menu-item > a, .topnav-light .main-menu .nav > li > a:hover {
	color: #f9c73d;
}
.main-menu .nav > li > a .fa-angle-down{
	font-size:8px;
	vertical-align: middle;
	line-height: 13px;
	padding-left: 1px;
}
#top-nav .navbar-inverse {
	background-color: #282828;
}
#top-nav .navbar-static-top {
	border-width: 0 0 0px;
}
/*headline*/
.headline .htitle .hicon .first-tex, .headline-content .headline .htitle .scroll-text ul li a, .headline .htitle .scroll-text ul li p {
	color: #8e8e8e;
}

/*light*/
#top-nav.topnav-light .navbar {
	background-color: #fff;
	border-color: #fff;
}
.topnav-light#headline {
	background: #f1f1f1;
	border-bottom: 0px;
	display: none;
}
.topnav-light .headline .htitle .hicon .first-tex, .topnav-light .headline-content.col-md-6 .headline .htitle .scroll-text ul li a, .topnav-light .headline .htitle .scroll-text ul li p{
	color: #5f5f5f;
}
.topnav-light .social-links a.social-icon {
	border-color: #d8d8d8;
	background: #f1f1f1;
	color: #5f5f5f;
}

/*slider*/
#slider {
	background: #f0f0f0;
	/* display: none; */
}