/**********************************
Secrets To Closing The Sale
**********************************/


.testy .col-sm-3
{
	float:none !important;
	vertical-align:middle;
	display:table-cell !important;
}

.testy .col-sm-9
{
	float:none !important;
	vertical-align:middle;	
	display:table-cell !important;
}

.stcts .greentext
{
	color:green !important;
}


.stcts .regulargreytext
{
	font-size:17px;
	text-align:justify;
}

.stcts .push-bottom {
	margin-bottom: 17px;
}

.stcts .pricing
{
	font-size:40px;	
}

.stcts .salepricing
{
	color:#bf0000 !important;	
	margin-top:10px;

}

.stcts .salepricing .smalltext
{
	color:#000000;
	font-size:11px;
	vertical-align:top;
	padding-top:3px;
}

.stcts .salepricing .mediumtext
{
	color:#bf0000;
	font-size:30px;
	vertical-align:top;
}


.stcts .verticallyalign
{
	display:inline-block;	
	vertical-align:middle;	
}

.stcts .regularfont
{
	vertical-align:middle;	
	padding-top: 5px;
}

.stcts .blacktext
{
	color:#000000;	
}


.stcts .largetext
{
	font-size:2.6em;
	line-height:1em;
}


.stcts .pricing .smalltext
{
	margin-top:10px;
	margin-bottom:30px;
}


.stcts .smalltext
{
	font-size:0.6em;
	line-height:1em;
	vertical-align: middle;
}


.stcts .mediumtext
{
	font-size: 1.6em;
	line-height:1em;
}

.stcts .maintext
{
	font-size:40px;	
}

.stcts .secondarypitch .largetext
{
	font-size: 28px !important;
	line-height:1em;
	margin-bottom:20px;
}

.stcts .secondarypitch .mediumtext
{
	font-size: 1.3em;
	line-height:1em;
	margin-bottom:20px;
}

.stcts .blackcta
{
	margin:20px 0px;
}


.stcts .blackcta a
{
	font-size:1.9em;
	background-color:#000000;
	max-width:420px;
	margin:0 auto;
	color:#ffffff;
	border-radius: 8px;
	padding:10px 4%;
	margin-bottom:30px;
	font-weight:600;
	display:block;
	text-decoration:none; 
}

.stcts .blackcta a:hover
{
	background-color:#cccccc;
	color:#000000; 
}

.stcts .redcta a
{
	font-size:1.9em;
	background-color:#bf0000;
	max-width: 350px;
	margin:0 auto;
	color:#ffffff;
	border-radius: 8px;
	padding:10px 4%;
	margin-bottom:30px;
	font-weight:600;
	display:block;
	text-decoration:none; 
}


.stcts .redcta a:hover
{
	background-color:#cccccc;
	color:#000000; 
}


.stcts .secondarypitch .largetext 
{
	/* margin-top:30px; */
	font-size:20px;
	/* margin-bottom:20px; */	
}




/*************************
Sales Secrets
**************************/

.salessecrets .maintext
{
	font-size:40px;	
}

.salessecrets .largeblacktext
{
	font-size:3.1em;
	color:#bf0000;
}	

.salessecrets .xtralargeblacktext
{
	font-size:3.2em;
	line-height:1.2em;
	color:#000000;
	text-transform:uppercase;
}	

.salessecrets .mediumblacktext
{
	font-size:2.5em;
	text-transform:capitalize;
	color:#000000;
}

.salessecrets .smallblacktext
{
	font-size:1.6em;	
	color:#333333;
	font-weight:900;
}

.salessecrets .maintextsmaller
{
	font-size:30px;	
	margin-top:40px;
	text-transform:capitalize;
	color:#000000;
}

.testy .col-sm-3
{
	float:none !important;
	vertical-align:middle;
	display:table-cell !important;
}

.folderbkg {
	background-image: url(http://cardonesalestips.com/img/folder-pattern.jpg);

}

.testy .col-sm-9
{
	float:none !important;
	vertical-align:middle;	
	display:table-cell !important;
}

.salessecrets .smallsubtext
{
	font-size:1.5em;
	font-weight:500;
	color:#000000;
}



.salessecrets .blackcta
{
	margin:20px 0px;
}


.salessecrets .blackcta a
{
	font-size:1.9em;
	background-color:#000000;
	max-width:420px;
	margin:0 auto;
	color:#ffffff;
	border-radius: 8px;
	padding:10px 4%;
	margin-bottom:30px;
	font-weight:600;
	display:block;
	text-decoration:none; 
}



.salessecrets .blackcta a:hover
{
	background-color:#cccccc;
	color:#000000; 
}

.salessecrets .redcta a
{
	font-size:1.9em;
	background-color:#bf0000;
	max-width: 350px;
	margin:0 auto;
	color:#ffffff;
	border-radius: 8px;
	padding:10px 4%;
	margin-bottom:30px;
	font-weight:600;
	display:block;
	text-decoration:none; 
}


.salessecrets .redcta a:hover
{
	background-color:#cccccc;
	color:#000000; 
}

.boxedcontainer {
	max-width: 995px;
	margin: 0 auto;
}
.accountnavigation {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.accountnavigation li a {
	margin: 0px;
	padding: 10px 20px;
	background-color: #f5f5f5;
	display: block;
	color: #ed1c24;
	border-bottom: 2px solid #ffffff;
	text-decoration: none;
}
.twenty7 {
	width: 29.4%;
}
.sixty4 {
	width: 64%;
}
.clearfix {
	clear: both;
}

/*************************
10X Live Page
**************************/
.boldblacklarge {
	text-align: center;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 4.5em;
	line-height: 53px;
}
.arrowedlist {
	list-style: none;
}
.arrowedlist li {
	text-align: left !important;
	text-indent: -32px;
	font-weight: 100;
}
.arrowedlist li:before {
	content: '\f00c'; /* FontAwesome char code inside the '' */
	font-family: FontAwesome; /* FontAwesome or whatever */
	margin-right: 10px;
}

.textalign-left {
	text-align: left;
}
.textalign-right {
	text-align: right;
}
.textalign-center {
	text-align: center;
}
.boldblackmedium {
	color: #000000;
	font-weight: bold;
	line-height: 1.2em;
	font-size: 3em;
}
.boldblackmediumplus {
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
}
.thinblackmedium {
	color: #000000;
	font-size: 1.6em;
}
.boldredtext {
	color: #bf0000;
	font-size: 1.7em;
	font-weight: bold;
}
.extra-padding {
	padding: 4%;
}
.paddingfix-topbottom {
	padding: 0px 2%;
}
.xtrapush-top {
	margin-top: 40px;
}
.xtrapush-bottom {
	margin-bottom: 30px;
}
.tenxlifeseminarcontainer {
	background-image: url('http://grantcardonetv.com/wp-content/uploads/10xlivebkg.png');
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 30px;
}
.millionscontainer {
	background-image: url('http://grantcardonetv.com/wp-content/uploads/GCTV_2015.08.14_MillionsBG_1440x600.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 30px;
}
.witcastingcontainer {
	background-image: url('/wp-content/uploads/WIT_2015.02.25_White_Banner_1440x600.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 30px;
}
.redbutton {
	text-decoration: none !important;
	padding: 15px 4%;
	font-size: 1.4em;
	display: block;
	width: 80%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #bf0000;
	max-width: 320px;
	margin: 0 auto;
	color: #ffffff;
	text-transform: uppercase;
}
.greybutton {
	text-decoration: none !important;
	padding: 15px 4%;
	font-size: 1.1em;
	text-align: center;
	display: block;
	width: 60%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #cccccc;
	max-width: 250px;
	margin: 0 auto;
	color: #000000;
	text-transform: uppercase;
}
body {
	color: #444444;
}
.yellow-btn a {
	background-color: yellow !important;
	color: #000000 !important;
	text-transform: capitalize !important;
	font-family: 14px !important;
}
.yellow-btn a:hover {
	background-color: #cccccc !important;
	color: #000000 !important;
	text-transform: capitalize !important;
}
input {
}
.smallicon .fa-play:before {
	display: table-cell;
	width: 50px !important;
	height: 50px !important;
	margin: 0 auto;
	border-radius: 50%;
	background: transparent;
	text-align: center;
	font: 25px/25px 'FontAwesome' !important;
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	text-decoration: none;
	box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.6);
	color: #ed1c24;
	background: rgba(0,0,0,0.8);
	vertical-align: middle;
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 1;
	padding-left: 10%;
}
#showthisthing {
	display: none;
}
html {
	background-color: #f0f0f0 !important;
}
.wrap_login_logout {
	padding: 0px 0px;
}
.single-inbox #social-share {
	margin: 0px !important;
}
.wpb_posts_slider .flex-caption, .wpb_posts_slider .nivo-caption {
	/* background: none !important; */
	opacity: 1;
	color: inherit;
	padding: 10px 15px;
	top: 0px;
	position: absolute !important;
	/* color: #ffffff !important; */
	max-width: 350px !important;
	display: block;
	/* text-shadow: 1px 1px #000; */
	height: 100%;
	background-color: #ed1c24;
}
.fyre-stream-livecount {
	display: none;
}
.fyre-comment-date {
	color: #999999 !important;
}
.fyre-stream-sort-options a {
	color: #999999 !important;
}
.fyre .fyre-moderator, .fyre .fyre-comment-author-tag {
	background-color: #ed1c24;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #ffffff !important;
	padding: 6px 10px !important;
	font-size: 12px !important;
	margin-right: 2px;
}
.wpb_posts_slider .flex-caption, .wpb_posts_slider .nivo-caption h2 a {
	text-decoration: none !important;
	line-height: auto;
}
.wpb_posts_slider .flex-caption, .wpb_posts_slider .nivo-caption h2 a:hover {
	text-decoration: none !important;
	line-height: auto;
}
.wpb_posts_slider .flex-caption, .wpb_posts_slider .nivo-caption h2 {
	text-decoration: none !important;
	line-height: auto !important;
}
.flexslider {
	border: none !important;
}
.ubermenu-sub-indicators .ubermenu-has-submenu-drop>.ubermenu-target:after {
	position: relative !important;
	right: 10px;
	top: 50%;
	margin-left: 10px;
	margin-top: -6px;
	content: "\f107";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.ubermenu-widget-area {
	margin: 0px !important
}
/***********************************************
MEMBERSHIP BLOCKS 
************************************************/

#overlayblock1 {
	z-index: 99;
	width: 100%;
	max-width: 80%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	text-align: left;
	padding: 2%;
}
.membersonlyh1 {
	font-size: 4em;
	line-height: normal;
}
.signupbutton {
	background-color: #cccccc;
	padding: 5% 40px;
	color: #efefef !important;
	border-radius: 4px;
	font-size: 20px;
	display: block;
	text-align: center;
}
.previewbutton {
	background-color: #ed1c24;
	padding: 5% 40px;
	border-radius: 4px;
	font-size: 20px;
	display: block;
	text-align: center;
}
.extralinksvideo {
	color: #ffffff;
	margin-top: 70px;
	font-size: 1.3em;
	line-height: normal;
}
.valignmiddle {
	display: table-cell !important;
	vertical-align: middle !important;
}
#overlayblock2 {
	z-index: 99999999999;
	width: 100%;
	max-width: 80%;
	height: 100%;
	display: block;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	text-align: left;
	padding: 2%;
}
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button {
	font-size: 100%;
	margin: 0;
	line-height: 1em;
	cursor: pointer;
	position: relative;
	font-family: inherit;
	text-decoration: none;
	overflow: visible;
	padding: 20px 70px;
	font-weight: bold;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	left: auto;
	text-shadow: none !important;
	border: 0px !important;
	background: #ed1c24 !important;
	color: #ffffff !important;
}
/***************************************************************/
/* GENERAL EDITS BELOW THIS LINE 
***************************************************************/
.hidethis {
	display: none;
}
.sidebar h2.widget-title {
	color: #000000;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.woocommerce #sidebar h2.widget-title {
	color: #ed1c24 !important;
	font-weight: 100;
	margin-bottom: 5px
}
.woocommerce .codenegar_product_filter_wrap a {
	color: #000000;
	font-weight: 300;
	margin: 0px !important;
	padding: 0px !important;
	text-decoration: none;
}
.woocommerce .widget_layered_nav ul li, .woocommerce-page .widget_layered_nav ul li {
	padding: 0px !important;
	line-height: 1.8em !important;
	margin: 0px !important;
}
#sidebar h2.widget-title {
	color: #000000 !important;
	margin-bottom: 0px;
	font-size: 1.6em;
	padding: 0px 0px 8px 0px;
	border-bottom: 1px solid #cccccc;
}
.darkbkg {
	color: #ffffff !important;
	background-color: #222222;
}
#sidebar .darkbkg h2.widget-title {
	color: #ffffff !important;
	background-color: #222222;
}
.fyre .fyre-comment-divider>div.fyre-comment-divider {
	background: #cccccc !important;
	height: 1px;
	margin: 0px;
}
/***************************************/
/* GENERAL THEME SETTINGS
****************************************/

blockquote {
	border: none !important;
}
.banneron {
	display: block !important;
	background-color: #ed1c24;
	text-align: center;
	color: #ffffff;
}
.banneron div {
	display: table;
	vertical-align: center;
}
.offair {
	display: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
strong, b {
	font-weight: bold;
}
em, i {
	font-style: italic;
}
body, h1, h2, h3, h4, h5, p, a {
	font-family: 'Helvetica', Arial, sans-serif !important;
}
.format-standard h2 {
	color: #666666 !important;
	line-height: normal;
}
.tooltipster-content h4 {
	color: #666666 !important;
}
.black h2 {
	color: #000000 !important;
	margin-bottom: 0px !important;
	margin-top: 30px;
	padding: 0px !important;
	line-height: 0px;
}
.gform_body li {
	padding: 0px;
}
.gfield_label {
	font-size: 1.2em;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	color: #666666 !important;
	outline: 0;
	line-height: inherit !important;
}
/***************************************/
/* REUSABLE THEME ELEMENTS
****************************************/
.onair {
	display: block;
	position: absolute;
	max-width: 300px;
	right: 0px;
	top: 7%;
}
.push-top {
	margin-top: 2%;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.paddingfix {
	padding: 0px;
}
.push-bottom {
	margin-bottom: 40px;
}
.padding {
	padding: 15px 15px 15px 15px;
}
.spacer {
	margin-top: 5px;
}
.hide {
	display: none;
}
.paddingfix-right {
	padding-right: 0px !important;
}
.lg-right {
	text-align: right;
}
.lg-center {
	text-align: center;
}
.lg-pushtop {
	margin-top: 20px;
}
.divider {
	background-color: #f0f0f0;
	height: 2px;
}
.lg-fixedheight {
	height: 140px;
	margin: 0;
}
.lg-fixedheight h3, h2, h4 {
	color: #ffffff !important;
}
.nopadding {
	padding: 0px !important;
}
.blockhead {
	height: 100%;
	width: 100%;
	display: block !important;
}
.blockhead a:hover {
	text-decoration: none !important;
}
.greydiv {
	background: #171717; /* Old browsers */
	background: -moz-linear-gradient(top, #171717 0%, #3a3a3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #171717), color-stop(100%, #3a3a3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #171717 0%, #3a3a3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #171717 0%, #3a3a3a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #171717 0%, #3a3a3a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #171717 0%, #3a3a3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#3a3a3a', GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #666666;
	color: #FFFFFF !important;
}
#livefyre-comments {
	background: #ffffff; /* Old browsers */
	/* border-top:1px solid #666666; */
	color: #FFFFFF !important;
	padding: 15px;
}
#livefyre-comments a {
	color: #ed1c24;
}
#livefyre-comments p {
	color: #444444 !Important;
}
.fyre-help {
	display: none;
}
#livefyre-comments .fyre-livecount em {
	color: #ed1c24;
}
#livefyre-comments .fyre-comment-username span {
	font-size: 17px;
}
.fyre-comment-actions {
	display: none !important;
}
#livefyre-comments span {
	color: #000000;
}
.fyre-login-bar a {
	color: #000000 !important;
}
.fyre-comment-count span {
	font-size: 30px;
	text-transform: capitalize;
	color: #../images !important;
}
#livefyre-comments .fyre-editor-editable p {
	color: #444444 !important;
}
#livefyre-comments .fyre-editor-editable span {
	color: #444444 !important;
}
#livefyre-comments h4 {
	color: #444444 !important;
}
.greydiv img {
	border-color: #353535 !important;
}
.greydiv a {
	color: #ffffff !important;
}
.greydiv .smart-box-head .light-title {
	color: #ffffff !important;
}
.greydiv .smart-box-head {
	margin: 10px 0px 20px;
}
.hidden980 {
	display: none !important;
}
h3.author-headline {
	line-height: 1.5em;
	font-size: 2em;
	margin: 0px;
}
.dropcap {
	padding: 0px 15px 0px 0px;
}
.vc_responsive .wpb_row .vc_span3 {
	float: left;
	width: 25%;
	padding: 15px;
}
.smallicon .item-head {
	background-color: #fff;
	min-height: 50px !important;
	max-height: 100% !important;
	height: auto !important;
	padding: 4% !important;
	border-radius: 0px 0px 10px 0px;
}
.smallicon .item-thumbnail {
	background-color: #e0e0e0;
}
.smallicon .item-head a {
	color: #252525 !important;
}
.greydiv .smallicon .item-head {
	background-color: #444;
	max-height: 70% !important;
	height: auto !important;
	padding: 3% !important;
	border-radius: 0px 0px 20px 0px;
}
.greydiv .smallicon .item-thumbnail {
	background-color: #444;
}
.greydiv .smallicon .item-head a {
	color: #ffffff !important;
}
/*Showpage Leaderboard Space*/

.leaderboard {
	padding: 20px 340px;
	margin: 0px;
	background-color: #f0f0f0;
}
.form #ninja_forms_field_8_div_wrap {
	width: 75% !important;
	float: left !important;
	margin-right: 3%;
}
.form #ninja_forms_field_9_div_wrap {
	width: 20% !important;
	float: left !important;
}
.leaderboard div {
	margin: 0 auto !important;
}
.video-item {
	margin-bottom: 0px !important;
}
#disqus_thread {
	background: #171717; /* Old browsers */
	background: -moz-linear-gradient(top, #171717 0%, #3a3a3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #171717), color-stop(100%, #3a3a3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #171717 0%, #3a3a3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #171717 0%, #3a3a3a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #171717 0%, #3a3a3a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #171717 0%, #3a3a3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#3a3a3a', GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #666666;
	color: #FFFFFF !important;
	padding: 2%;
}
/***************************************/
/*  THIRD PARTY ELEMENT CHANGES
****************************************/

/* READ MORE ACCORDION
----------------------*/

.bigtext {
	display: block;
	overflow: hidden;
	color: #787878;
	margin: 0px !important;
	padding: 0px !important;
}
.expand, .contract {
	cursor: pointer;
	font-weight: bold;
	color: #555;
}
.expand:hover, .contract:hover {
	color: #121212;
}
.alm-reveal {
	height: auto !important;
	display: table !important;
	width: 100% !important;
}
.expand, .contract {
	cursor: pointer;
	font-weight: bold;
	font-size: 1em;
	margin-top: 2px;
	color: #555;
}
a.learnmore {
	font-size: 0.8em;
}
a.learnmore:hover {
	text-decoration: underline;
}
/* LOAD MORE BUTTON
------------------------*/
button.alm-load-more-btn {
	margin: 0 auto !important;
	display: block;
	font-size: 1.4em;
	font-weight: 300;
	margin-top: 20px !important;
}
/* MOBILE NAVIGATION (shiftnav)
--------------------*/
#shiftnav-toggle-main.shiftnav-toggle-main-align-right {
	text-align: right;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4) !important;
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4) !important;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4) !important;
	-o-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4) !important;
}
/* MAGENTO PRODUCTS
---------------------------*/
ul.mwi_product_widget {
	padding: 0px;
}
/* MAIN NAVIGATION (ubermenu)
----------------------------*/

.ubermenu {
	background-color: #ffffff;
	padding: 0px 0px;
}
.ubermenu-item-layout-image_above {
	padding: 15px 10px !important;
}
.ubermenu-nav {
	padding: 0px 15px !important;
}
.ubermenu .ubermenu-search .ubermenu-searchform {
	background: #cccccc !important;
}
.ubermenu-skin-clean-white {
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.09) !important;
}
.ubermenu-skin-clean-white.ubermenu-horizontal .ubermenu-item-level-0 > .ubermenu-submenu-drop {
	border-top: 1px solid #f9f9f9;
	margin: 0px !important;
}
.ubermenu-item:hover {
	cursor: pointer;
}
/***************************************/
/*  THEME ELEMENT CHANGES
****************************************/


/* ORIGINAL THEME OVERRIDES
---------------------------*/
.vc_responsive .wpb_row .vc_span12 {
	float: left;
	width: 100%;
}
.whitebkg {
	padding: 2%;
	font-size: 1.2em;
	color: #ffffff !important;
	border-bottom: 6px solid #f0f0f0;
}
.smart-control {
	margin-bottom: 5px;
}
.blockpeice {
	padding-right: 5px;
	padding-left: 5px;
	float: none;
	clear: both;
	vertical-align: top;
	margin-bottom: 10px;
	display: inline-block !important;
	display: -moz-grid !important;
}
.smallicon .video-item .item-thumbnail .fa-play:before {
	display: table-cell;
	width: 50px !important;
	height: 50px !important;
	margin: 0 auto;
	border-radius: 50%;
	background: transparent;
	text-align: center;
	font: 23px/40px 'FontAwesome';
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	text-decoration: none;
	box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.6);
	color: #../images;
	background: rgba(0,0,0,0.8);
	vertical-align: middle;
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 1;
	padding-left: 10%;
}
.fa-search {
	/* display:none !important; */	
}
.smart-box-head {
	margin-bottom: 17px;
}
.smart-box-head h2 {
	padding: 0px;
}
.flex-direction-nav a {
	top: -200px !important;
}
.video-with {
	float: right;
}
#slider .video_slider .video-with {
	padding: 0px 1% 0px 1% !important;
}
h1.title-name {
	color: #ed1c24 !important;
	margin: 0px;
	padding: 0px 0px 2% 0px;
	font-size: 5em;
	line-height: 0.7em;
}
h2.authorname a {
	color: #ffffff;
	text-decoration: none !important;
}
h2.authorname a:hover {
	color: #ed1c24;
}
.single-post .blog-heading.heading-light {
	background-color: rgba(0,0,0,0.5) !important;
	position: absolute !important;
	color: #000000 !important;
	display: table !important;
	width: 100%;
	max-width: 1050px;
}
.single-post .blog-heading heading-light {
	background-color: #ed1c24;
	color: #ffffff !important;
}
.single-post .blog-heading heading-light h1 {
	color: #ffffff !important;
}
.blog-item {
	background: #ffffff;
	padding: 23px 15px;
	border: 0px;
	margin: 0px;
}
.blog-item:nth-child(even) {
	/* background: #f0f0f0; */ 
	color: #999999;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	margin: 0px !important;
}
.blog-item:nth-child(odd) h3 a {
	color: #ccccccc;
}
/* NAVIGATION
----------------------*/

.level0 a:hover {
	background: none !important;
	color: #ed1c24 !important;
}
.level0.hover a {
	background: none !important;
	color: #ed1c24 !important;
}
.level0.hover .level1 a {
	color: #ffffff !important;
}
.mlogo {
	margin-right: 5%;
}
.panel {
	border: none !important;
}
.modal-dialog {
	padding-top: 10% !important;
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6) !important;
	z-index: 9999999999 !important;
	display: none;
	overflow: auto;
	overflow-y: scroll;
}
/* SHOW LISTING PAGES
----------------------*/

.social-block {
	text-align: right !important;
}
.onair {
	display: block !important;
	max-width: 300px;
	position: absolute;
	right: 0px;
	top: 7%;
}
.show-bkg {
	padding: 1% 1% 1% 1% !important;
}
.show-bkg p {
	color: #ffffff !important;
	padding: 0px !important;
	margin: 0px;
}
.show-bkg h2 {
	margin: 0px !important;
	font-size: 1.5em;
	line-height: normal;
	color: #ffffff !important;
}
p.subtitle {
	font-size: 1.1em;
	line-height: 16px;
}
.grey-spacer {
	min-height: 5px;
	background-color: #f0f0f0;
}
.authorimage img {
	max-height: 100px;
	width: auto;
}
.mastheadimage .video-item {
	margin-bottom: 0px !important;
}
.mastheadimage .video-item .item-thumbnail img {
	border: none !important;
}
.mastheadimage .fa-play {
	opacity: 0;
	transition: ease-in-out 0.2s;
	-webkit-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
}
.mastheadimage:hover .fa-play {
	opacity: 1;
	margin: 0 auto !important;
	vertical-align: middle !important;
	text-align: center !important;
	display: table-cell;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.3) !important;
	background-image: url('/wp-content/themes/truemag/images/play-button.png') !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: 10% !important;
}
.mastheadimage:hover .fa-play .overlay-float {
	width: 100%;
	height: 100%;
	position: absolute;
}
.mastheadimage .fa-play:before {
	margin: 0 auto;
	display: none !important;
}
/* VIDEO ROUNDED CORNER EDIT 
--------------------------------*/

.video .item-thumbnail img {
	max-width: 100%;
	width: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 0px 0px 30px 0px;
}
.smallicon.video .item-thumbnail img {
	border-radius: 0px 0px 20px 0px !important;
}
.smallicon.video .item-thumbnail img {
	border-radius: 0px 0px 20px 0px !important;
}
/* VIDEO PLAYER EDITS
--------------------------------*/

#player {
	background: #171717; /* Old browsers */
	background: -moz-linear-gradient(top, #171717 0%, #3a3a3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #171717), color-stop(100%, #3a3a3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #171717 0%, #3a3a3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #171717 0%, #3a3a3a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #171717 0%, #3a3a3a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #171717 0%, #3a3a3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#3a3a3a', GradientType=0 ); /* IE6-9 */
}
.video-player iframe {
	box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.5);
}
#player-embed object {
	left: 0px !important;
}
.video-item img {
	border: 1px solid #cccccc;
}
/*************************************/
/* HOMPAGE EDITS
***************************************/

/* COLORED BARS
-----------------*/

.ghost-container {
	width: 100%;
	margin: 0 auto;
	margin: 0px 3.5%;
	display: table !important;
}
.adbox {
	background-position: center center;
	background-size: 100%;
}
/* SLIDER SLIDES
-----------------*/
.caption {
	position: absolute;
	left: 0px;
	margin-top: -100px;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff !important;
	min-height: 100px;
}
.caption-top {
	position: absolute;
	left: 0px;
	margin-top: -100px;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff !important;
	min-height: 100px;
}
.caption-left {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30%;
	height: 100% !important;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff !important;
	min-height: 100px;
}
.caption-right {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 30%;
	margin-top: 0px !important;
	height: 100% !important;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff !important;
	min-height: 100px;
}
/***************************************************************/
/* MOBILE EDITS ABOVE THIS LINE 
***************************************************************/
.ubermenu-sub-indicators .ubermenu-has-submenu-drop>.ubermenu-target:after {
	right: 5px !important;
}
.woocommerce .widget_price_filter .ui-slider-horizontal, .woocommerce-page .widget_price_filter .ui-slider-horizontal {
	height: 1.3em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	border: 1px solid #150d14;
	cursor: pointer;
	background: #909090; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #909090 0%, #acacac 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #909090), color-stop(100%, #acacac)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #909090 0%, #acacac 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #909090 0%, #acacac 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #909090 0%, #acacac 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #909090 0%, #acacac 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#909090', endColorstr='#acacac', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	outline: none;
	top: 0px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: 0px !important;
}
.ui-slider-horizontal .ui-slider-handle:nth-child(odd) {
	top: -.3em;
	margin-left: -1em !important;
}
.woocommerce .widget_price_filter .ui-slider-horizontal, .woocommerce-page .widget_price_filter .ui-slider-horizontal {
	height: 1.3em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	border: 1px solid #737373;
	cursor: pointer;
	background: #eeeeee; /* Old browsers */
	outline: none;
	top: 0px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: 0px !important;
}
.ui-slider-horizontal .ui-slider-handle:nth-child(odd) {
	top: -.3em;
	margin-left: -1em !important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	background: #909090 !important;
	background: -moz-radial-gradient(center, ellipse cover, #909090 0%, #acacac 100%) !important;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #909090), color-stop(100%, #acacac)) !important;
	background: -webkit-radial-gradient(center, ellipse cover, #909090 0%, #acacac 100%) !important;
	background: -o-radial-gradient(center, ellipse cover, #909090 0%, #acacac 100%) !important;
	background: -ms-radial-gradient(center, ellipse cover, #909090 0%, #acacac 100%) !important;
	background: radial-gradient(ellipse at center, #909090 0%, #acacac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#909090', endColorstr='#acacac', GradientType=1 ) !important;
	display: block;
	border: 1px solid #737373;
	/* background: #ad74a2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAFUlEQVQIHWP4//9/PRMDA8NzEPEMADLLBU76a5idAAAAAElFTkSuQmCC) top repeat-x; */
	-webkit-border-radius: 1em;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-radius: 1em;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	float: none !important;
	width: 100% !important;
}
.woocommerce #content {
	margin-top: 0px;
}
.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-accordion.current-menu-ancestor > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-shift.current-menu-ancestor > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item ul.sub-menu .current-menu-item .shiftnav-target {
	color: #ffffff;
	background: #ed1c24 !important;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	background-color: #ed1c24;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #ffffff !important;
	transition: 0.2s ease-in-out;
}
.btn:hover {
	background-color: #f0f0f0;
	color: #000000 !important;
	font-size: 14px;
}
.btn-grey {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	background-color: #eeeeee;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #666666 !important;
	transition: 0.2s ease-in-out;
}
.btn-grey:hover {
	background-color: #e0e0e0;
	color: #000000 !important;
	font-size: 14px;
}
#login_logout-2 {
	padding: 10px !important;
}
.smart-box-head {
	line-height: 25px;
	margin: 10px 0px 20px;
	padding: 0px;
}
#menu-item-4018 {
	float: right !important;
}
.share {
	background-color: #666666 !important;
	display: table-cell !important;
	height: 100%;
	width: 100%;
	max-width: 40px;
	float: right;
	text-align: center !important;
	vertical-align: middle !important;
	padding: 7px 0px;
}
.cart {
	/* background-color:#ed1c24 !important; */  
	/* display: block !important; */
	height: 100%;
	width: 100%;
	/* float:right; */
	padding: 0px 5px !important;
	/* max-width:40px; */
	text-align: center !important;
	vertical-align: middle !important;
	padding: 7px 0px !important;
}
.cart img {
	display: inline-block;
	vertical-align: bottom !important;
	width: 23px;
}
.share img {
	display: inline-block;
	vertical-align: bottom !important;
	width: 28px;
}

/***************************************************************/
/* MOBILE EDITS BELOW THIS LINE 
***************************************************************/
@media only screen and (max-width : 995px) {
	.ubermenu-sticky-wrapper {
		display: none !important;
	}
}

/*************************************/
/* SIZES 970PX AND BELOW
**************************************/
@media only screen and (max-width : 970px) {
	.hidden980 {
		display: block !important;
	}
	.single-post .blog-heading.heading-light {
		background-color: #333333 !important;
		position: relative !important;
		color: #000000 !important;
		margin-top: 90px !important;
	}
	.ubermenu-sticky-wrapper {
		display: none !important;
	}
}

/*************************************/
/* SIZES 970PX AND BELOW 
**************************************/

/**************************************************************************/

/*************************************/
/* SIZES 991PX AND BELOW 
**************************************/
@media only screen and (max-width : 991px) {
	.md-floatright {
		float: right !important;
	}
	.md-floatleft {
		float: left !important;
	}
	.smart-item.it-row .row .col-md-2.xs-separation:nth-child(4) {
		margin-top: 10px;
	}
	.smart-item.it-row .row .col-md-2.xs-separation:nth-child(5) {
		margin-top: 10px;
	}
	.smart-item.it-row .row .col-md-2.xs-separation:nth-child(6) {
		margin-top: 10px;
	}
	.wpb_posts_slider .flex-caption, .wpb_posts_slider .nivo-caption {
		background-color: #f5f5f5 !important;
		color: #000000 !important;
		text-shadow: none !important;
		display: block !important;
		position: relative !important;
		max-width: 100% !important;
	}
	h2.post-title a {
		background-color: #f5f5f5 !important;
		color: #ed1c24 !important;
		text-shadow: none !important;
		display: block !important;
		position: relative !important;
		max-width: 100% !important;
	}
	.md-center {
		margin: 0 auto !important
	}
	.md-alignright {
		text-align: right !important;
	}
	.md-alignleft {
		text-align: left !important;
	}
	.md-aligncenter {
		text-align: center !important;
	}
	.md-paddingfix {
		padding-left: 0px !important;
	}
	.md-pushtop {
		margin-top: 20px !important;
	}
	.padding {
		padding: 2%;
	}
/* UNIQUE EDITS 
**********************/	
.authorimage img {
	max-height: 100%;
}
#player-embed {
	max-width: 80% !important;
	margin: 0 auto;
	padding: 30px 0px 0px 0px;
}
.signupbutton {
	font-size: 15px;
	padding: 20px 2px !important;
}
.previewbutton {
	padding: 20px 2px !important;
}
.membersonlyh1 {
	font-size: 4em;
	margin-top: 0px;
	line-height: normal;
}
}

/*************************************/
/* SIZES 991PX AND BELOW 
**************************************/

/**************************************************************************/

/*************************************/
/* SIZES 767PX AND BELOW 
**************************************/
@media only screen and (max-width : 767px) {
	.membersonlyh1 {
		font-size: 20px !important;
	}

	.testy .col-sm-3
	{
		display:block !important;
		text-align: center;
	}


	.testy .col-sm-9
	{
		display:block !important;
	}
	.twenty7 {
		width: 100%;
	}
	.sixty4 {
		width: 100%;
	}
	#player-embed {
		max-width: 80% !important;
		margin: 0 auto;
	}
	.padding {
		padding: 4%;
	}
	.video-item {
		padding-bottom: 14px;
	}
	.mastheadimage .video-item {
		padding-bottom: 0px;
	}
	.sm-floatright {
		float: right !important;
	}
	.sm-floatleft {
		float: left !important;
	}
	.sm-center {
		margin: 0 auto !important
	}
	.sm-alignright {
		text-align: right !important;
	}
	.sm-alignleft {
		text-align: left !important;
	}
	.sm-aligncenter {
		text-align: center !important;
	}
	.sm-pushtop {
		margin-top: 20px !important;
	}
	.sm-pushbottom {
		margin-bottom: 20px !important;
	}
	.sm-pushleft {
		margin-left: 20px !important;
	}
	.sm-pushright {
		margin-right: 20px !important;
	}
	.sm-padding {
		padding-left: 15px !important;
	}
	.sm-paddingfixleft {
		padding-left: 0px !important;
	}
	.xs-background {
		background-color: #e0e0e0;
		padding: 0px !important;
	}
	.xs-background .smallicon .item-head {
		background: none !important;
	}
	.xs-background .smallicon .item-thumbnail {
		background: none !important;
	}
	.sm-paddingfixright {
		padding-left: 0px !important;
	}
	.sm-erasepadding {
		padding: 0px !important;
	}
	.home .col-sm-6 {
		display: block !important;
		width: 100% !important;
		padding: 0px 15px;
	}
	.carousel-caption {
		position: relative !important;
		right: 15%;
		bottom: 20px;
		left: 15%;
		z-index: 10;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #fff;
		text-align: center;
		text-shadow: none !important;
	}
	.caption {
		position: relative;
		left: 0px;
		margin-top: 0px;
		background-color: rgba(0,0,0,0.5);
		color: #ffffff !important;
		min-height: 100px;
	}
	.caption-left {
		position: relative !important;
		left: 0px;
		margin-top: 0px;
		background-color: rgba(0,0,0,0.5);
		color: #ffffff !important;
		min-height: 100px;
		width: 100%;
	}
	.caption-right {
		position: relative !important;
		left: 0px !important;
		margin-top: 0px !important;
		background-color: rgba(0,0,0,0.5);
		color: #ffffff !important;
		width: 100% !important;
		min-height: 100px !important;
	}
	.video .item-thumbnail img {
		border-radius: 0px !important;
	}
	.smallicon.video .item-thumbnail img {
		border-radius: 0px !important;
	}
	.smallicon .item-head {
		padding: 0px 10px !important;
		background: none !important;
	}
	.greydiv .smallicon .item-head {
		padding: 10px 10px !important;
		background: #444444 !important;
	}
	.smart-item.it-row .row .col-md-3 {
		margin-bottom: 0px !important;
	}
	.xs-paddingfix {
		padding: 0px !important;
	}
	.xs-background .smallicon .item-head {
		background: none !important;
		padding: 0px 10px !important;
	}
	.xs-separation {
		border-bottom: 1px solid #f0f0f0;
		padding: 10px 0px !important;
	}
	.video-item {
		padding: 0px !important;
		margin: 0px !important;
	}
	.xspadding {
		padding: 6% 0px;
	}
	.smart-item .row .xs-separation:last-child {
		border: none !important;
	}
	.item-head {
		padding: 0px 10px !important;
	}
	.xs-background .smallicon .item-thumbnail {
		background: none !important;
	}
	.signupbutton {
		font-size: 15px;
		padding: 20px 2px !important;
	}
	.previewbutton {
		padding: 20px 2px !important;
		margin-bottom: 10px;
	}
	.caption-top {
		position: relative !important;
		left: 0px !important;
		margin-top: 0px !important;
		background-color: rgba(0,0,0,0.5);
		color: #ffffff !important;
		min-height: 100px !important;
	}
}

/*************************************/
/* SIZES 767PX AND BELOW 
**************************************/

/**************************************************************************/

/*************************************/
/* SIZES 610PX AND BELOW 
**************************************/
@media only screen and (max-width : 601px) {
	.hidden980 {
		display: block !important;
		height: 44px !important;
	}
	.single-post .blog-heading.heading-light {
		background-color: #333333!important;
		position: relative !important;
		color: #000000 !important;
		margin-top: 20px !important;
	}
	.signupbutton {
		font-size: 15px;
		padding: 20px 2px !important;
	}
	.previewbutton {
		padding: 20px 2px !important;
		margin-bottom: 10px;
	}



}

/*************************************/
/* SIZES 610PX AND BELOW 
**************************************/

/**************************************************************************/

/*************************************/
/* SIZES 480PX AND BELOW 
**************************************/
@media only screen and (max-width : 480px) {
	.mobile1 {
		font-size: 0.8em !important;
		line-height: normal;
		margin-top: 20px;
	}
	.mobile2 {
		font-size: 0.7em !important;
		line-height: normal;
		padding-top: 0px;
	}
	.mobile3 {
		font-size: 0.7em !important;
		line-height: normal;
	}
	.mobile4 {
		font-size: 0.7em !important;
		line-height: normal;
	}
	.mobile5 {
		font-size: 1.2em !important;
		line-height: normal;
		margin-top: 20px;
		font-weight: 500;
	}
	.mobile6 {
		font-size: 1.2em !important;
		line-height: normal;
		margin-bottom: 20px;
	}
	.mobile3 .boldblackmedium {
		margin-bottom: 15px;
	}
	.twenty7 {
		width: 100%;
	}
	.sixty4 {
		width: 100%;
	}
	.smart-control {
		display: none;
	}
	.divider {
		display: none;
	}
	.xs-floatright {
		float: right !important;
	}
	.xs-floatleft {
		float: left !important;
	}
	.xs-center {
		margin: 0 auto !important
	}
	.xs-alignright {
		text-align: right !important;
	}
	.xs-alignleft {
		text-align: left !important;
	}
	.xs-aligncenter {
		text-align: center !important;
	}
	.video .item-thumbnail img {
		border-radius: 0px !important;
	}
	.smallicon.video .item-thumbnail img {
		border-radius: 0px !important;
	}
	.smallicon .item-head {
		padding: 0px 10px !important;
		background: none !important;
	}
	.greydiv .smallicon .item-head {
		padding: 10px 10px !important;
		background: #444444 !important;
	}
	.smart-item.it-row .row .col-md-3 {
		margin-bottom: 0px !important;
	}
	.xs-paddingfix {
		padding: 0px !important;
	}
	.xs-background .smallicon .item-head {
		background: none !important;
		padding: 0px 10px !important;
	}
	.xs-separation {
		border-bottom: 1px solid #f0f0f0;
		padding: 10px 0px !important;
	}
	.video-item {
		padding: 0px !important;
		margin: 0px !important;
	}
	.smart-item .row .xs-separation:last-child {
		border: none !important;
	}
	.item-head {
		padding: 0px 10px !important;
	}
	.xs-background .smallicon .item-thumbnail {
		background: none !important;
	}
	.cart .product-quantity {
		display: none !important
	}
	.cart .product-quantity {
		display: none !important
	}
	.show-bkg {
		/* display: none !important; */
	}
	h2.authorname {
		line-height: normal;
	}
	.onair {
		max-width: 150px;
	}
	.video-listing .item-head h3, .smart-box-content .item-head h3 {
		line-height: 1.5em;
		white-space: normal !important;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.item-head h3, .item-head h3 a {
		font-size: 12px !important;
		margin: 0;
		color: #252525;
	}
	#player-embed {
		max-width: 100% !important;
		margin: 0 auto;
		padding: 0px 0px 0px 0px;
	}
	.signupbutton {
		font-size: 15px;
		padding: 20px 2px !important;
	}
	.previewbutton {
		padding: 20px 2px !important;
		margin-bottom: 10px;
	}
	.extralinksvideo {
		margin-top: 15px !important;
		font-size: 16px;
	}
	#overlayblock1 {
		max-width: 100%;
		min-height: 250px;
	}
	#overlayblock2 {
		max-width: 100%;
		min-height: 250px;
	}
	.twenty7 {
		width: 100%;
	}
	.sixty4 {
		width: 100%;
	}

	#player {
		padding-top: 46px;
	}

}
/*************************************/
/* TESTIMONIALS 
**************************************/
.image-holder {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 10px;
}
.speakers-row {
  padding: 0px 15px;
}
.speaker-column {
  padding: 0px;
}
.speaker {
  position: relative;
  overflow: hidden;
}
.speaker,
.topic {
  margin-bottom: 20px;
}
.speaker .hover-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.speaker .image-holder {
  margin-bottom: 5px;
}
.speaker span {
  display: block;
  font-size: 16px;
  padding: 0px; 
}
.speaker-name {
  color: #333333;
}
.speaker .social-links {
  width: 100%;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transform: translate3d(0px, -200px, 0px);
  -webkit-transform: translate3d(0px, -200px, 0px);
  -moz-transform: translate3d(0px, -200px, 0px);
}
.speaker .social-links a {
  color: #fff;
  font-size: 24px;
  display: inline-block;
  margin-left: 6px;
}
.speaker .social-links a:last-child {
  margin-right: 0px;
}
.speaker .image-holder:hover .hover-state {
  opacity: 1;
}
.speaker .image-holder:hover .hover-state .social-links {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
}
.speaker-with-bio {
  overflow: hidden;
  margin-bottom: 36px;
}
.speaker-with-bio .speaker {
  width: 50%;
  float: left;
  margin-bottom: 0px;
}
.speaker-with-bio .speaker-description {
  width: 50%;
  float: left;
  padding-left: 30px;
}
.speaker-description span {
  display: inline-block;
  margin-bottom: 18px;
  font-weight: 600;
}
@media all and (max-width: 767px) {
  .speaker-with-bio .speaker {
    width: 100%;
  }
  .speaker-with-bio .speaker-description {
    width: 100%;
    padding-left: 0px;
  }
}
.topics {
  position: relative;
  overflow: hidden;
}
.topics .container {
  position: relative;
  z-index: 2;
}
.topics.overlay .ruled-list li {
  border-color: rgba(255, 255, 255, 0.5);
}
.topics.overlay .topic i {
  color: #fff;
}
.topic h3 {
  margin-bottom: 18px;
}
.topic p.lead {
  margin-bottom: 32px;
}
.topic i {
  font-size: 60px;
  color: #ffc600;
  display: inline-block;
  margin-bottom: 32px;
}
@media all and (max-width: 767px) {
  .topic h3 {
    display: inline-block;
    position: relative;
    bottom: 18px;
    left: 12px;
  }
  .topic i {
    margin-bottom: 12px;
  }
}
.ruled-list li {
  border-top: 1px solid #ffffff;
  padding: 12px 0px;
  font-size: 16px;
}
@media all and (min-width: 321px) and (max-width: 767px) and (orientation: landscape) {
  .speakers-row .col-sm-6 {
    width: 50%;
    float: left !important;
  }
}

/**********************************
Podcast Page Dropdown Menu
**********************************/

.podcast-navigation {
	display: block;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.podcast-navigation ul {
  background: #ff5400;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.podcast-navigation li {
	color: #fff;
  background: #ff5400;
	display: block;
	float: left;
	margin: 0 2px 0 0;
	padding: 4px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
  letter-spacing: 1px;
}
  
.podcast-navigation li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.podcast-navigation li:hover {
	@include transition(background, 0.2s);
	background: #cccccc;
	cursor: pointer;
}

.podcast-navigation ul li ul {
	background: #cccccc;
	visibility: hidden;
	float: left;
  min-width: 125px;
	position: absolute;
  transition: visibility 0.65s ease-in;
  margin-top: 4px;
	left: 0;
	z-index: 999;
}

.podcast-navigation ul li:hover > ul,
.podcast-navigation ul li ul:hover {
   visibility: visible;
}

.podcast-navigation ul li ul li {
	clear: both;
	padding: 5px 0 5px 18px;
  width: 100%;
}

.podcast-navigation ul li ul li:hover {
	background: #cccccc;
}

/**********************************
End Podcast Page Dropdown Menu
**********************************/

/********
Clickfunnels overide
********/

div#modalPopup {
   display: none !important;
}

/********
Account Page Style
********/

p.myaccount_user, p.myaccount_address {
       padding: 20px;
    margin: 20px 50px;
    background: #fafafa;
    box-sizing: border-box;
    width: auto;
}
p.myaccount_user a ,p.myaccount_address a , p.no_subscriptions a{ color:#ed1c24 }
p.no_subscriptions {
    background: #eee;
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
  }
  
ul.digital-downloads{    margin: 0 50px;    padding: 0;border: 2px solid #eee;} 
ul.digital-downloads li { padding:10px; margin:10px; list-style:none; }
ul.digital-downloads li span { font-weight:700; }
ul.digital-downloads li a{ color:#ed1c24; }

table.my_account_orders, table.my-account-cim-payment-methods { margin-left:50px; width:60%; width:calc(100% - 100px) } 
table.my_account_orders td.order-number a { color:#ed1c24; font-weight:600 }
 table.my-account-cim-payment-methods { margin-bottom:50px; }

div.col2-set> div { border:1px solid #eee; padding:50px; }
