/* CSS Document */
p.cat-videos{ border:1px solid #e5e5e5; height:200px; overflow: scroll}
p.cat-videos label{ margin:10px; float:left;}
p.cat-videos span{ float:left; width:50%;}

#menu_content_content_shortcode_smartcontent_menu_co,
#menu_content_content_shortcode_smartcontent_menu_tbl{ width:400px}
#menu_content_content_shortcode_smartcontent_menu_tbl label{ width:50%; float:left; margin:3px 0}
#menu_content_content_shortcode_smartcontent_menu_tbl select,
#menu_content_content_shortcode_smartcontent_menu_tbl input[type=text]{ min-width:180px}
#menu_content_content_shortcode_smartcontent_menu_tbl td div{ text-align:center; margin-top:5px}
/* Icon shortcode */
.mce-container[aria-label="Smartcontent Box"] {
	overflow-y: scroll;
	overflow-x: scroll;
	max-height: 80%;
	top: 10% !important;
}
.mce-ico.mce-i-icon-video-car{background-image:url('../images/tm/046-VC-WP-Video-Carousel.png') !important; background-position:center;}
.mce-ico.mce-i-icon-featured{background-image:url('../images/tm/045-VC-WP-featured-content-box.png') !important; background-position:center;}
.mce-ico.mce-i-icon-smart{background-image:url('../images/tm/028-VC-Smart-Content-Box.png') !important; background-position:center;}
.mce-ico.mce-i-icon-alert{background-image:url('../images/tm/014-VC-Alert.png') !important; background-position:center;}
.wp_themeSkin .mceSplitButton span.mce_shortcode_carousel{background-image:url('../images/tm/007-VC-Timeline-Carousel.png') !important; background-position:center;}
.mce-ico.mce-i-icon-checklist{background-image:url('../images/tm/Check List.png') !important; background-position:center;}


.mce-ico.mce-i-icon-button{background-image:url('../images/button-shortcode.png') !important; background-position:center;}
.wp_themeSkin .mceSplitButton span.mce_ct_font_icons{background-image:url('../images/icons-shortcode.png') !important; background-position:center;}
.mce-ico.mce-i-icon-dropcap{background-image:url('../images/icon-dropcap.png') !important; background-position:center;}
.mce-ico.mce-i-icon-heading{background-image:url('../images/tm/009-VC-Headings.png') !important; background-position:center;}
.wp_themeSkin .mceSplitButton span.mce_shortcode_facelike{background-image:url('../images/icons-social-button.png') !important; background-position:center;}
.mce-ico.mce-i-icon-tooltip{background-image:url('../images/icon-tooltip.png') !important; background-position:center;}
.mce-ico.mce-i-icon-testimonial{background-image:url('../images/tm/003-VC-Testimonials.png') !important; background-position:center;}
.wpb_bootstrap_modals option.accordion{margin-bottom:0;}
.wp_themeSkin .mceSplitButton span.mce_shortcode_divider{background-image:url('../images/Divider.png') !important; background-position:center;}
.wp_themeSkin .mceSplitButton span.mce_shortcode_timeline{background-image:url('../images/icons-timeline.png') !important; background-position:center;}
.wp_themeSkin .mceSplitButton span.mce_shortcode_countdown_clock{background-image:url('../images/icons-count-down.png') !important; background-position:center;}
.mce-ico.mce-i-icon-headline{background-image:url('../images/tm/013-VC-Headlines.png') !important; background-position:center;}
.wp_themeSkin .mceSplitButton span.mce_shortcode_promobox{background-image:url('../images/icons-promotionbox.png') !important; background-position:center;}
.wp_themeSkin .mceSplitButton span.mce_shortcode_recentpost{background-image:url('../images/icons-recent-post.png') !important; background-position:center;}
.wp_themeSkin .mceSplitButton span.mce_shortcode_skill{background-image:url('../images/icons-counter.png') !important; background-position:center;}
.mce-ico.mce-i-icon-margin{background-image:url('../images/tm/018-VC-Margin.png') !important; background-position:center;}
.mce-ico.mce-i-icon-member{background-image:url('../images/tm/002-VC-member.png') !important; background-position:center;}
.mce-ico.mce-i-icon-comparetable{background-image:url('../images/tm/compare_table.png') !important; background-position:center;}
.mce-ico.mce-i-icon-review{background-image:url('../images/tm/047-VC-WP-Review.png') !important; background-position:center;}


#alert{background-image:url('../images/tm/014-VC-Alert.png');background-position: 8px 18px; background-repeat:no-repeat; padding-top: 0px; text-align: left; padding-left: 48px;}

#member{background-image:url('../images/tm/002-VC-member.png');background-position: 8px 18px; background-repeat:no-repeat; padding-top: 0px; text-align: left; padding-left: 48px;}

#boxed{background-image:url('../images/tm/012-VC-Boxes.png');background-position: 8px 18px; background-repeat:no-repeat; padding-top: 0px; text-align: left; padding-left: 48px;}
#headline{background-image:url('../images/tm/013-VC-Headlines.png');background-position: 8px 18px; background-repeat:no-repeat; padding-top: 0px; text-align: left; padding-left: 48px;}
#scb{background-image:url('../images/tm/028-VC-Smart-Content-Box.png');background-position: 8px 18px; background-repeat:no-repeat; padding-top: 0px; text-align: left; padding-left: 48px;}
#Carousel{background-image:url('../images/tm/007-VC-Timeline-Carousel.png');background-position: 8px 18px; background-repeat:no-repeat; padding-top: 0px; text-align: left; padding-left: 48px;}
#testimonial{background-image:url('../images/tm/003-VC-Testimonials.png');background-position: 8px 18px; background-repeat:no-repeat; padding-top: 0px; text-align: left; padding-left: 48px;}
#margin{background-image:url('../images/tm/018-VC-Margin.png');background-position: 8px 18px; background-repeat:no-repeat;  padding-top: 0px; text-align: left; padding-left: 48px;}

#heading{background-image:url('../images/tm/009-VC-Headings.png');background-position: 8px 18px; background-repeat:no-repeat; padding-top: 0px; text-align: left; padding-left: 48px;}
#featured-content{background-image:url('../images/tm/045-VC-WP-featured-content-box.png');background-position: 8px 18px; background-repeat:no-repeat; padding-top: 0px; text-align: left; padding-left: 48px;}
#video_silder{background-image:url('../images/tm/046-VC-WP-Video-Carousel.png');background-position: 8px 18px; background-repeat:no-repeat; padding-top: 0px; text-align: left; padding-left: 48px;}

.wpb_bootstrap_modals #featured-content .vc-element-icon{background-image:url('../images/tm/045-VC-WP-featured-content-box.png');background-position: initial;}
.wpb_bootstrap_modals #featured-content .vc-element-icon{background-image:url('../images/tm/045-VC-WP-featured-content-box.png');background-position: initial;}

.wpb_bootstrap_modals #vc_wp_search .vc-element-icon{background-image:url('../images/tm/019-VC-WP-Search.png');background-position: initial;}
.wpb_bootstrap_modals #vc_wp_meta .vc-element-icon{background-image:url('../images/tm/020-VC-WP-Meta.png');background-position: initial;}
.wpb_bootstrap_modals #vc_wp_recentcomments .vc-element-icon{background-image:url('../images/tm/021-VC-WP-Recent-comments.png');background-position: initial;}
.wpb_bootstrap_modals #vc_wp_calendar .vc-element-icon{background-image:url('../images/tm/022-VC-WP-Calendar.png');background-position: initial;}
.wpb_bootstrap_modals #vc_wp_pages .vc-element-icon{background-image:url('../images/tm/023-VC-WP-Pages.png');background-position: initial;}
.wpb_bootstrap_modals #vc_wp_tagcloud .vc-element-icon{background-image:url('../images/tm/02$-VC-WP-Tag-cloud.png');background-position: initial;}
.wpb_bootstrap_modals #vc_wp_custommenu .vc-element-icon{background-image:url('../images/tm/024-VC-WP-Custom-Menu.png');background-position: initial;}
.wpb_bootstrap_modals #vc_wp_text .vc-element-icon{background-image:url('../images/tm/025-VC-WP-Text.png');background-position: initial;}

.wpb_bootstrap_modals #vc_wp_links .vc-element-icon{background-image:url('../images/tm/026-VC-WP-Link.png');background-position: initial;}
.wpb_bootstrap_modals #vc_wp_categories .vc-element-icon{background-image:url('../images/tm/027-VC-WP-Categories.png');background-position: initial;}
.wpb_bootstrap_modals #vc_wp_archives .vc-element-icon{background-image:url('../images/tm/028-VC-WP-Archives.png');background-position: initial;}
.wpb_bootstrap_modals #vc_wp_rss .vc-element-icon{background-image:url('../images/tm/028-VC-WP-Rss.png');background-position: initial;}



.wp_themeSkin table.mceToolbar{ margin-bottom:0 !important; margin-left:0  !important; margin-right:0 !important; margin-top:0 !important}

/* Themes option*/
#option-tree-sub-header span.option-tree-ui-button.image{ border:0; background: url('../../../images/Logo-Black-Normal.png') no-repeat; width:107px;height:23px; margin:10px; margin-right:0}
#option-tree-sub-header span.option-tree-ui-button.vesion           { background-image:none; background-color:transparent; width:35px; height:20px; border:0; background-repeat:no-repeat; margin:0 !important; top:8px; padding-left:0; padding-top:8px; top:13px; color:#fff; text-shadow:none}

.wrap.settings-wrap .ui-tabs-nav{ width:174px}
.wrap.settings-wrap .ui-tabs-nav li a{ padding-top:10px; padding-bottom:10px; padding-right:0; padding-left:15px}
.wrap.settings-wrap .ui-tabs-nav li a i{margin:0 10px 0 0}
#meta_box2 .format-setting-label .label{ font-weight:normal !important}
#meta_box2 .format-setting-inner p label{ font-weight:bold}

.rwmb-input .rwmb-text{ width:99%}
.rwmb-label label{ font-weight:bold}
.new-color-picker{
	position:relative;
	z-index:99;
}
.farbtastic {
	position: absolute;
	left:106%;
	top:-75px;
}